body{
    margin: 0;
    font-family: 'Poppins';font-size: 22px;
}



.navigationbar{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 40px;
    display: block;
}

.pages{
    position: right;
}


.dropdownbtn{
    position: relative;
    display: inline-block;

}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgb(56,42,61);
    z-index: 1;
}

.dropdown-content a:hover {background-color: rgb(249, 214, 255);}
.dropdownbtn:hover .dropdown-content{display: block;}
.dropdownbtn:hover .dropdownnav{background-color: rgb(197, 79, 207);}

.buttonsnav{
    background-color: rgb(253, 253, 253);
    color: #540a6e;
    padding: 16px;
    font-size: 16px;
    border: none;

}



.dropdown-content a {
    color: #382A3D;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}




/* Second bar */

.secondbar-content{
  /*float: left;*/
  width: 25%;
  padding: 10px;
  display: inline-block;
}
.firstcolumnempty{
  display: inline-block;
  /*float: left;*/
  width: 25%;
  padding: 10px;
}
.thirdcolumnempty{
  display: inline-block;
  width: 25%;
  padding: 10px;
}
/* .scndbar{
  display: inline-block;
  width: 25%;
  padding: 10px;
} */
/*
.secondbarpage{
    width: 33.33%;
    align-items: center;
    
    position: absolute;
    
}
*/

/* .search-bar{
    width: 20%;
    position: relative;
    display: inline-block;
}

.searchterm {
    width: 100%;
    border: 3px solid #43007a;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #2c0056;
    display: inline-block;
  }
  
  .searchterm:focus{
    color: #573d60;
  }

  .searchbutton {
    width: 40px;
    height: 36px;
    border: 1px solid #c9c9c9;
    background: #ffffff;
    text-align: center;
    color: #382A3D;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    display: inline-block;
  } */

  .secondbar:after{
    content: "";
    display: table;
    clear: both;
      
  }
  






  .maincolumns{
    width: 33.33%;
  }

  ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #17002d;
  }

  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #9100bd;

  }

  .thirdcolumnempty{
    width: 33.33%;
  }
  .firstcolumnempty{
  width: 33.33%;

  }